<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>

<div id="add-line-item">
  <%= render 'form', product: @product, sale_price: Spree::SalePrice.new %>
</div>

<div id="product-sale-prices-table">
  <%= render partial: "table", locals: { sale_prices: @sale_prices } %>
</div>
